@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card {
  background: hsl(217, 19%, 24%);
  padding: 2.5rem;
  border-radius: 15px;
  text-align: center;
  width: 540px;
  position: relative;
}

.advice-id {
  color: hsl(150, 100%, 66%);
  letter-spacing: 3px;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.advice-text {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  margin-bottom: 1.5rem;
}

.divider {
  width: 100%;
  margin-bottom: 1.5rem;
}

.dice-btn {
  background: hsl(150, 100%, 66%);
  border: none;
  padding: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: box-shadow 0.2s;
}

.dice-btn:hover {
  box-shadow: 0px 0px 25px hsl(150, 100%, 66%);
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    padding: 2rem;
  }

  .advice-text {
    font-size: 22px;
  }
}
